<div class="container" style="white-space: nowrap; vertical-align: top;">
  <div class="row" >
    <div class="col-xs-4" align="left" style="display: inline-block;">
      <img style="border-radius:12px;" src="../assets/mattchandlerprofile.jpg" height="150px">

        <h4>Matt Chandler</h4><h5>Senior Software Engineer</h5>

    </div>
    <div class="col-xs-8" align="left" style="display: inline-block;">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="http://mattchandler.us" target="_blank">
            <span class="glyphicon glyphicon-th"></span> mattchandler.us
          </a>
        </li>
        <li class="list-group-item">
          <a href="mailto:matt.chandlerAZ@gmail.com" target="_blank">
            <span class="glyphicon glyphicon-envelope"></span> matt@mattchandler.us
          </a>
        </li>
        <li class="list-group-item">
          <a href="../assets/resume_MattChandler_2019.doc.pdf" target="_blank">
            <span class="glyphicon glyphicon-download"></span> Resume
          </a>
        </li>
        <li class="list-group-item" align="left">
          <a href="https://www.facebook.com/matt.chandlerus" class="fa fa-facebook btn btn-primary btn-xs"></a>&nbsp;
          <a href="https://twitter.com/mattchandlerus" target="_blank" class="fa fa-twitter btn btn-primary btn-xs"></a>&nbsp;
          <a href="https://www.linkedin.com/in/mattchandlerus" target="_blank" class="fa fa-linkedin btn btn-primary btn-xs"></a>
          <a href="https://www.github.com/goability" target="_blank" class="fa btn btn-priary btn-xs fa-github"></a>
        </li>
      </ul>

    </div>
  </div>
</div>
<div class="container" style="white-space: nowrap; vertical-align: top;">
<div class="row">
  <div class="col-xs-4" style="background-color:lightgray; white-space: normal;">
    <h5>Skills</h5>
    <p class="text-sm-left">
    Technical Team Lead Project Management Technical Writer Agile Processes
    OO Design Performance/Scale Analysis<br><br>
    .NET, C, C++, C#, Python JavaScript, HTML, CSS PHP, Node.js, Unix Shell<br><br>
    Oracle, MySQL, mongoDB<br><br>
    Git, TFS, Nant, Nunit<br><br>
    Linux and Win OS Docker, VMs<br><br>
    Arduino, Intel MCUs, Bluetooth LE
  </p>
  <p class="text-sm-left">
      <strong>Publications</strong><br>
      EPID – Intel’s Enhanced
      Privacy ID<br><br>
      Using Intel’s MKL with
      Arduino Create<br>
  </p>
  <p class="text-sm-left">
    <strong>Awards</strong><br>
    Intel Software Quality<br>
    TD Excellence<br>
    TD APC First<br>
    First no-code Controller
  </p>
  <p class="text-sm-left">
    <strong>Interests/Passions</strong><br>
    STEM and community,
    Mentoring, Family, Playing
    Music, Astronomy,
    Electronics/maker, Hiking,
    Razorback Basketball
  </p>
   </div>
<div class="col-xs-6" style="white-space: normal;">
  <h4>Overview</h4>
  <p class="text-sm-left">
    A Senior Software Engineer with over 14 years of industry experience at Fortune 50 companies.
    Proven capability for leading projects to success with an understanding of team and technical
    leadership, and a broad technical background spanning numerous programming languages,
    platforms, and technologies.
  </p>
  <h4>Experience</h4>
  <p class="text-sm-left">
    <strong>Senior Technical Lead WiPro/FedEx</strong>(2018-Present)<br>
Assigned as technical lead for an offshore development team of eleven, I worked closely with
FedEx architects to modernize the current performance scan product, which services over 2000
endpoint scanning stations around the world. Following SAFe Agile processes, our team quickly
integrated into the larger program 'Train', and including daily standup meetings and larger
planning events. Within three months, the first version was released to production, followed by
quarterly cadanced releases. Technologies: RESTful service design/scale, python wsgi, PHP
Reporting site, Oracle DB management, File archiving (C++ service), shell scripting, CI/CD.
<br><br>
<strong>Software Enabling Engineer Intel</strong> (2016-2018)<br>
Representing Intel, consulted with external small to medium sized businesses on Intel hardware
and services in the commercial IOT vertical. Validated client solutions related to TPM Security,
VPRO, BLE, and backend python/node.js development. Created technical statements of work,
and presented validation reports to upper management. Regularly researched new
technologies resulting in publications to Intel Developer’s Zone. Designed and led a Hackathon
for 100+ attendees involving microcontrollers. Led STEM efforts for local elementary school
resulting in establishment of inaugural robotics club.
<br><br>
<strong>Factory Area Technical Lead Intel</strong> (2012-2016)<br>
Designed and Piloted first Middleware factory automation system, migrating .NET 3.0 client
controller logic to .NET Windows Workflow middle-tier architecture, reducing client code stack
by 90%, in some cases with zero code at controller layer due to client library module reuse.
Led a team of 14 developers, chairing weekly meetings using Agile processes. Used python to
manage large collections of files, content parsing for engineering data analysis to backend
systems, and factory vision metrology analysis using openCV libraries.
<br><br>
<strong>Station Controller Technical Lead Intel</strong> (2008-2011)<br>
Designed first Advanced Process Control station controller in Intel’s Assembly factory supporting
both present technologies as well as retrofitting older .NET 1.0 code under fast-paced task force
environment to enable new product IvyBridge ramp. Founded and chaired weekly standard
library meetings for release process, roadmap, and collaboration for team of 14 developers.
Development of utilities using .NET to help development team with testing setup and playback
simulation management.
<br><br>
<strong>Senior Software Engineer Intel</strong> (2005-2007)<br>
Responsible for design and development of two metrology, and four next generation process
controllers, including first high volume parallel processing wafer processing tool to enable Intel
Atom Silverthorne ramp.
<br><br>
<strong>Software Engineer Intel</strong>(2004-2005)<br>
Designed and developed Web based application for Tool Scheduling and Utilization using LAMP
architecture. Created full test suite, documentation, and training for both customers and
development teams to ensure product vitality and support. Application executed on Linux
architecture, Apache web server, MySQL database, PHP server scripting, and HTML/JavaScript
client scripting.
  </p>
  <h4>Education</h4>
  <p class="text-sm-left">
    Computer Systems Engineering, BS ’97, University of Arkansas
  </p>

</div>
</div>
</div>
