<div class="container">
  <div class="page-header">
      <h1>Services</h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <img src='../assets/teamworkpuzzle.jpg' style='width:75px;border-radius:20px; align:"right"'>

        <div class="panel-heading h4">
                    Technical Lead
        </div>
        <div class="panel-body">

          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action">
              Experience with 10-15 member team sizes
            </button>
            <button type="button" class="list-group-item list-group-item-action">
              Offshore and In-house teams
            </button>
            <button type="button" class="list-group-item list-group-item-action">
              Agile Scrum/SAFe processes
            </button>
            <button type="button" class="list-group-item list-group-item-action">
              Embrace change and schedule changes
            </button>
            <button type="button" class="list-group-item list-group-item-action">
              Excellent communications skills
            </button>
            <button type="button" class="list-group-item list-group-item-action">
              Clear reporting  to upper management and product stakeholders
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <img src='../assets/gear.png' style='width:75px;border-radius:20px; align:"right"'>

        <div class="panel-heading h4">Software Services</div>
        <div class="panel-body">
            <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action">
              Over fifteen years experience in software service development
            </button>
            <button type="button" class="list-group-item list-group-item-action">
              Windows, Linux, and MacOS native development
            </button>
            <button type="button" class="list-group-item list-group-item-action">
              Web and Mobile experience
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <img src='../assets/checklist.png' style='width:75px;border-radius:2px; align:"right"'>

        <div class="panel-heading h4">Experience</div>
        <div class="panel-body">
          Since 1997, I have worked with many different languages and technologies.  Either on the job for a corporation, a client, or a side project, I continue to learn new languages and design patterns for both front and back end.
          <h5>Years of Experience</h5><hr>
          <div class="row">
            <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading h4">Back End</div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      RESTful Designs
                      <span class="badge badge-primary badge-pill">4</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Python
                      <span class="badge badge-primary badge-pill">4</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Node.js
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      GoLang
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Apache
                      <span class="badge badge-primary badge-pill">5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      PHP
                      <span class="badge badge-primary badge-pill">5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Shell Scripting
                      <span class="badge badge-primary badge-pill">2</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading h4">Front End</div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      HTML 5
                      <span class="badge badge-primary badge-pill">4</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Javascript ES5/6
                      <span class="badge badge-primary badge-pill">4</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Angular
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      ReactJS
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

            <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading h4">Mobile</div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      React-Native
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Swift iOS
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading h4">Database</div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      MySQL
                      <span class="badge badge-primary badge-pill">5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Oracle
                      <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Mongo
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="panel panel-default">
                <div class="panel-heading h4">Release Management</div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Project Planning and Technical Leadership
                      <span class="badge badge-primary badge-pill">7</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Agile Scrum
                      <span class="badge badge-primary badge-pill">7</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      SAFe Agile
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      CI/CD
                      <span class="badge badge-primary badge-pill">5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      TFS
                      <span class="badge badge-primary badge-pill">5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      HP AGM
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      IBM UDeploy
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      git
                      <span class="badge badge-primary badge-pill">3</span>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="panel panel-default">

              <div class="panel-heading h4">Other</div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Offshore Team Lead
                    <span class="badge badge-primary badge-pill">5</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    .NET C#
                    <span class="badge badge-primary badge-pill">10</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    C/C++
                    <span class="badge badge-primary badge-pill">5</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    OO Design Concepts
                    <span class="badge badge-primary badge-pill">10</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Team Leadership
                    <span class="badge badge-primary badge-pill">15</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    UML Diagramming
                    <span class="badge badge-primary badge-pill">15</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Technical Documentation
                    <span class="badge badge-primary badge-pill">15</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Arduino
                    <span class="badge badge-primary badge-pill">8</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Electronics Maker
                    <span class="badge badge-primary badge-pill">8</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Tutoring and Mentorship
                    <span class="badge badge-primary badge-pill">5</span>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
