<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Matt Chandler</a>
    </div>
  	<div class="collapse navbar-collapse" id="myNavbar">
  		<ul class="pagination">
  		<li><a routerLink="/" class="btn btn-success btn-lg">
  			<span class="glyphicon glyphicon-home"></span> Home</a>
  		</li>
  		<li><a routerLink="/about"  class="btn btn-success btn-lg">
  			<span class="glyphicon glyphicon-option-vertical"></span> About</a>
  		</li>
  		<li><a routerLink="/services"  class="btn btn-success btn-lg">
  			<span class="glyphicon glyphicon-book"></span> 	Services</a>
  		</li>
  		<li><a routerLink="/portfolio" class="btn btn-success btn-lg">
  			<span class="glyphicon glyphicon-briefcase"></span> 	Portfolio</a>
  		</li>
  		<li><a routerLink="/contact" class="btn btn-success btn-lg">
  		<span class="glyphicon glyphicon-envelope"></span> Contact
  		</a></li>
  		</ul>
  	</div>
</nav>
