<div class="container" style="white-space: nowrap; ">
  <div class="row" >
    <div class="col-sm-4" align="left" style="display: inline-block;">
        <img style="border-radius:12px;" src="../assets/mattchandlerprofile.jpg" height="150px">
        <h4 class="panel-heading h4">Matt Chandler</h4>
    </div>
    <div class="col-sm-8" align="left" style="display: inline-block;">
      <ul class="list-group">
        <li class="list-group-item">20 years experience</li>
        <li class="list-group-item">Software Engineer</li>
        <li class="list-group-item">Technical Lead</li>
        <li class="list-group-item">Maker</li>
        <li class="list-group-item">
            <a routerLink="/resume"  class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-th"> Resume</span>
            </a>
        </li>

        <li class="list-group-item" align="center">
          <a href="https://www.facebook.com/matt.chandlerus" class="fa fa-facebook btn btn-primary btn-xs"></a>&nbsp;
          <a href="https://twitter.com/mattchandlerus" target="_blank" class="fa fa-twitter btn btn-primary btn-xs"></a>&nbsp;
          <a href="https://www.linkedin.com/in/mattchandlerus" target="_blank" class="fa fa-linkedin btn btn-primary btn-xs"></a>
          <a href="https://www.github.com/goability" target="_blank" class="fa btn btn-priary btn-xs fa-github"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <img style="clear:none; float:top; border-radius:12px;" src="../assets/mountainmoon.jpeg" height="150px" alt="Full moon set, Jan 2019, Monument CO ">
    </div>
  </div>
</div>
