<div class="container">
  <div class="page-header">
      <h1>About me</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading"><img src='../assets/mattchandlerprofile.jpg' style="border-radius:20px;"></div>
        <a href="https://www.facebook.com/matt.chandlerus" class="fa fa-facebook"></a>
        <a href="https://twitter.com/mattchandlerus" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/in/mattchandlerus" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://www.github.com/goability" target="_blank" class="fa fa-github"></a>

      </div>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
          <div class="panel-heading"><h4>Matt Chandler</h4>
          <p>Monument, CO</p>
      </div>

        <div class="panel-body">
          <div class="well">
            <div class="media">

              <div class="media-body">
                <h4 class="media-heading">My Background</h4>
                Born in Memphis, Tennessee and grew up in Northeastern Arkansas in an area called the Delta region that is rich in culture, fertile farmland, and friendly people.
                <p>
                  <br>
                  <b>Marked Tree, Arkansas</b>
                </p>
              </div>
              <div class="media-left">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51951.669702161336!2d-90.46590437524297!3d35.52950781569017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d5b84465c73643%3A0xb221a5d8d760a0e3!2sMarked+Tree%2C+AR+72365!5e0!3m2!1sen!2sus!4v1550299536535" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>

<!--
        <div class="panel-body">
          <div class="well">
            <div class="media">
              <div class="media-left">
                <img src="../assets/tandyimage.jpeg" class="media-object" style="width:120px;border-radius:20px;">
              </div>
              <div class="media-body">
                <h4 class="media-heading">My First Computer</h4>
                On Christmas morning of 1986, my parents gifted me my first computer - A Tandy 1000Ex, loaded with 128K memory, an Intel 8088 CPU, and one 5.25" floppy disk.  I quickly began programming the exercises in the back of my 3-2-1 Contact magazine, and enjoyed the feeling of creating something.  Being the only kid on the block with a computer, I printed T-Shirts, a banner for my parent's local store, and even received my first paycheck at the age of 13 from a local business after creating a printing label program and database in Quick Basic.
              </div>
            </div>
          </div>
        </div>
-->
        <div class="panel-body">
          <div class="well">
            <div class="media">
              <div class="media-left">
                <img src="../assets/razorbackLogo.jpg" class="media-object" style="width:100px;border-radius:20px;">
              </div>
              <div class="media-body">
                <h4 class="media-heading">1992 - 1997 Razorback</h4>
                  After high school, I attended the University of Arkansas and graduated with a degree in Computer Systems Engineering.  During my time in college, the men's basketball team won the 1994 national championship, which I was lucky enough to attend in person.  I still follow the Razorback basketball team each year and tune in to each and every game.
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="well">
            <div class="media">
              <div class="media-left">
                  <img src="../assets/coloradoMountainLogo.png" class="media-object" style="width:100px">
              </div>
              <div class="media-body">
                <h4 class="media-heading">1997 - 2002 Colorado Springs</h4>
                  After college, my first jobs were in Colorado Springs.  I contracted at MCI, United States Olympic Committee, and eventually incorporated a business that provided a wide array of development and IT services.
                  <b>Ability Engineering, Inc.</b>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="well">
            <div class="media">
              <div class="media-left">
                <img src="../assets/cactusimage.png" class="media-object" style="width:100px">
              </div>
              <div class="media-body">
                <h4 class="media-heading">2002 - 2004 : Phoenix Bound</h4>
                  One of my clients relocated to Arizona, and extended me a partnership in their business if I relocated with them.
                  This also provided me the opportunity to expand my business into Arizona, which serviced home PC troubleshooting, tutoring, website development (85212.com), and additional custom development consulting projects.

                  <b>Ability Engineering, Inc.</b>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="well">
            <div class="media">
              <div class="media-left">
                  <img src="../assets/intellogo.png" class="media-object" style="width:100px">
              </div>
              <div class="media-body">
                <h4 class="media-heading">2004-2018 - The Intel years</h4>
                  Introduced through a client, a contract was offered at Intel, Corp which was extended into a fulltime employement offer.
                  <b>Ability Engineering, Inc.</b> was dissolved in Arizona and Colorado, and I joined the corporate world.
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="well">
            <div class="media">
              <div class="media-left">
                <img src="../assets/wiprologo.jpg" class="media-object" style="width:100px; border-radius:20px;"><br>
                <img src="../assets/fedexlogo.png" class="media-object" style="width:100px; border-radius:20px;">
              </div>
              <div class="media-body">
                <h4 class="media-heading">2018-Present - Back to the mountains</h4>
                After 16 years in Arizona, I have returned to Colorado with a wife and four children.
                Currently working on a 12 month contract at FedEx in Colorado Springs, CO., and excited to see what life brings us next.
                <img src="../assets/chandlerKidsFall2018CrippleCreek.jpeg" class="media-object" height="149px" width="200px" style="border-radius:10px;">
