
<div class="container">
  <h1>Publications</h1>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Using Intel® Math Kernel Library with Arduino Create</h4></div>
        <div class="panel-body">
          <div class="well">
          Published November 2017, this article presents use cases and provides examples which make use of the Intel® Math Kernel Library (Intel® MKL). Arduino Create*, a cloud-based IDE and UP2*, a single board computer based on Intel’s Apollo Lake platform, are used for the examples.
          <a href="https://software.intel.com/en-us/articles/optimize-iot-applications-using-intel-math-kernel-library" target="_blank">[Read article]</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Intel® Enhanced Privacy ID (EPID) Security Technology</h4></div>
        <div class="panel-body">
          <div class="well">
            Published July, 2017 this article discusses the Intel® Enhanced Privacy Identification (EPID) security scheme, which helps to specifically address two device level security issues; anonymity and membership revocation.
            <a href="https://software.intel.com/en-us/articles/intel-enhanced-privacy-id-epid-security-technology" target="_blank">[Read article]</a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div id='projects'>
      <h1>Projects</h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Watch Something App</h4></div>
        <div class="panel-body">
          <div class="well">
            Quickly find a movie to watch based on rating, category, and search.
            <br><strong>lang</strong>: React-native, deployed to iOS and Android
            <a href='https://github.com/goability/MovieServices/tree/master/mobile'>[github]</a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h4>This website - mattchandler.us</h4></div>
        <div class="panel-body">
          <div class="well">
            This site you are using was written in Angular with Bootstrap styles.
            The code is available on github
            <a href='https://github.com/goability/websites'>[github]</a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="media">
            <div class="media-body"><h4>Replay </h4></div>
            <div class="media-right">
              <img src='../assets/cameraRed.png' width="35px">
            </div>
          </div>
        </div>
          <div class="panel-body">
            <div class="well">
              This project promotes image replay of a set of connected Wi-Fi cameras, allowing replay of specific time events.
  [Javascript, Node.js, GoLang, C#, OpenCV, and Linux infrastructure)
              <a href='https://github.com/goability/ReplayAdminTools'>[github]</a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Thinking Of You</h4></div>
        <div class="panel-body">
          <div class="well">
            The objective of this project was to promote remote actuation using a touch enabled picture frame.  Through the simple touch of a button, a user could send a quick message to a remote user to let them know that they were thinking of them.  A canned message would show up on the remote picture  frame.
[BLE (Bluetooth Low Energy), MQTT, and an Intel Edison].  This was a innovation project sponsored by Intel.
            <a href='https://github.com/goability/ThinkingOfYou' target="_blank">[github]</a>
            <div class="media-right">
              <img src='../assets/thinkingOfYouDesignClip.png' style="border-radius:20px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>BLE Nightlight</h4>

        </div>
        <div class="panel-body">
          <div class="well">
            Using the GATT and GAP technologies of the Bluetooth Low Energy specification with Node.js, a simple ON/OFF nightlight provides a smartphone enabled nightlight that can be discovered and controlled using near-field BLE or HTTP.
            <a href='https://github.com/goability/BLE-NiteLite'>[github]</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="h4" id='employment'>
          <h1>Employment History</h1>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="page-header" id='employment'>
          <img src='../assets/fedexlogo.png' height=75px width=75px>&nbsp;&nbsp;
          <img src='../assets/intellogo.png' height=75px width=75px>&nbsp;&nbsp;
          <img src='../assets/usoclogo.png' height=75px width=75px>&nbsp;&nbsp;
          <img src='../assets/mcilogo.png' height=75px width=75px>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>2018 --> Present :: FedEx Services</h3><br>Technical Team Lead, Software Engineering contractor for WiPro Limited
        </div>
        <div class="panel-body">
          <div class="well">
            Assigned as technical lead for an offshore development team of eleven, I worked closely with FedEx architects to modernize the current performance scan product, which services over 2000 endpoint scanning stations around the world.  Following SAFe Agile processes, our team quickly integrated into the larger program 'Train', and including daily standup meetings and larger planning events.  Within three months, the first version was released to production, followed by quarterly cadanced releases.   Technologies: RESTful service design/scale, python wsgi, PHP  Reporting site, Oracle DB management, File archiving (C++ service), shell scripting, CI/CD.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>2004-2018 :: Intel Corporation</h3><br>Senior Software Engineer, Technical Team Lead</div>
        <div class="panel-body">
          <div class="well">
            Working at Intel for 14 years provided the opportunity to create and collaborate on many technologies related to factory automation.  Using primarily .NET technologies, I was technical and area lead of many projects that help to ensure Intel's factories are running efficient.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>1999-2004 :: Ability Engineering, Inc. </h3></div>
        <div class="panel-body">
          <div class="well">
              Incorporated in both Colorado and Arizona under S Corp Ability Engineering, Inc., developed and hosted over fifteen websites, consulted businesses on ECommerce, internal IT and networking managment and provided in-home computer repair and tutoring services to local community members.  Developed local membership sites using LAMP stack with over 800 active members that promoted local businesses and free for-sale postings.  Wrote C modem software to bridge telephony communications between hard of hearing and businesses - service ran on Linux server array.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>1999 :: United States Olympic Committee</h3></div>
        <div class="panel-body">
          <div class="well">
              <strong>Webmaster</strong>  In a six month contract, helped to maintain the usoc.org website structure and maintenance.
              Posted athelete spotlight articles, and also helped to prepare athelete photo-shot data collection for the 1999 Pan American games in Winnipeg.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>1997-1998 :: MCI, Inc. </h3></div>
        <div class="panel-body">
          <div class="well">
              <strong>Software Developer</strong> Implemented controls in C++ as part of the enterprise messaging system.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
